@charset "utf-8";
/* CSS Document */
body{background:#FFF; font-size:12px; font-family:"宋体", Arial, sans-serif;}
.loginContainer{width:100%; height:725px; margin:0 auto; background:#FFF url(../admin/images/bg.png) repeat-x;}
.loginLeft,.loginRight{width:49%; height:350px; margin-top:161px;}
.loginLeft{float:left;}
.loginRight{float:right;}
.loginLeft img{float:right;}
.loginRight table{width:380px; height:200px; float:left;}
.loginRight table tr{height:20px; margin:10px auto;}
.loginRight table th{height:20px; line-height:20px; color:#666; font-size:14px; font-weight:bold;}
.loginRight table td{background:#f2f2f2; height:20px; line-height:20px; text-indent:20px;}
.loginRight table td img{margin-left:10px;}
.loginInputBox{width:150px; height:18px; border:1px solid #899aaa; margin-left:10px;}
.loginSubmitBox{width:80px; height:20px; border:1px solid #899aaa; margin:0 20px}